<a href="https://colab.research.google.com/github/RevethS/2025_PBO_TI-1A_23/blob/main/JobSheet2_PBO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Fungsi Built-in
print("Ini adalah contoh fungsi built-in")

kata = "Pemrograman"
panjang_kata = len(kata)
print(f"Panjang kata '{kata}' adalah: {panjang_kata}")

angka = [10, 5, 30, 40, 25]
nilai_max = max(angka)
print(f"Nilai maksimum dalam daftar {angka} adalah: {nilai_max}")

# Fungsi User-Defined
def cetak_kuadrat(angka):
    print(f"Kuadrat dari {angka} adalah: {angka ** 2}")

def hitung_luas_persegi_panjang(panjang, lebar):
    return panjang * lebar

def info_mahasiswa(nama, umur, ipk):
    print(f"Nama: {nama}, Umur: {umur}, IPK: {ipk}")

def sapa_pengguna(nama):
    print(f"Halo, {nama}! Selamat datang di dunia Python.")

def hitung_keliling_persegi(sisi):
    return 4 * sisi

cetak_kuadrat(5)
luas = hitung_luas_persegi_panjang(10, 5)
print(f"Luas persegi panjang: {luas}")
info_mahasiswa("Budi", 22, 3.8)
sapa_pengguna("Andi")
keliling = hitung_keliling_persegi(5)
print(f"Keliling persegi dengan sisi 5 adalah: {keliling}")

Ini adalah contoh fungsi built-in
Panjang kata 'Pemrograman' adalah: 11
Nilai maksimum dalam daftar [10, 5, 30, 40, 25] adalah: 40
Kuadrat dari 5 adalah: 25
Luas persegi panjang: 50
Nama: Budi, Umur: 22, IPK: 3.8
Halo, Andi! Selamat datang di dunia Python.
Keliling persegi dengan sisi 5 adalah: 20

In [5]:
import geometri

def main():
    luas_persegi = geometri.hitung_luas_persegi(5)
    print(f"Luas persegi dengan sisi 5 adalah: {luas_persegi}")

    luas_persegi_panjang = geometri.hitung_luas_persegi_panjang(10, 5)
    print(f"Luas persegi panjang dengan panjang 10 dan lebar 5 adalah: {luas_persegi_panjang}")

    luas_lingkaran = geometri.hitung_luas_lingkaran(7)
    print(f"Luas lingkaran dengan jari-jari 7 adalah: {luas_lingkaran}")

if __name__ == "__main__":
    main()

Luas persegi dengan sisi 5 adalah: 25
Luas persegi panjang dengan panjang 10 dan lebar 5 adalah: 50
Luas lingkaran dengan jari-jari 7 adalah: 153.86

In [35]:
from buku import Buku

buku1 = Buku("Pemrograman Python", "John Doe", 2021)
buku2 = Buku("Data Science untuk Pemula", "Jane Smith", 2020)

buku1.tampilkan_info()
buku2.pinjam()
buku2.kembalikan()
buku1.pinjam()
buku1.tampilkan_info()

Judul: Pemrograman Python
Pengarang: John Doe
Tahun Terbit: 2021
Status: Tersedia
Buku 'Data Science untuk Pemula' telah dipinjam.
Buku 'Data Science untuk Pemula' telah dikembalikan.
Buku 'Pemrograman Python' telah dipinjam.
Judul: Pemrograman Python
Pengarang: John Doe
Tahun Terbit: 2021
Status: Dipinjam

In [25]:
from Mahasiswa import Mahasiswa

mahasiswa1 = Mahasiswa("Andi", "12345", 20)
mahasiswa2 = Mahasiswa("Budi", "67890", 22)

mahasiswa1.tampilkan_info()
print()
mahasiswa2.tampilkan_info()

mahasiswa1.ubah_umur(21)
print("\nSetelah mengubah umur mahasiswa1:")
mahasiswa1.tampilkan_info()

Nama: Andi
NIM: 12345
Umur: 20 tahun

Nama: Budi
NIM: 67890
Umur: 22 tahun

Setelah mengubah umur mahasiswa1:
Nama: Andi
NIM: 12345
Umur: 21 tahun

In [29]:
from Mobil import Mobil

mobil1 = Mobil("Toyota", "Hitam", 2015, 300000000)
mobil2 = Mobil("Honda", "Merah", 2018, 250000000)

mobil1.tampilkan_info()
mobil2.tampilkan_info()

mobil1.diskon(10)
mobil2.diskon(15)

usia_mobil1 = mobil1.hitung_usia(2025)
usia_mobil2 = mobil2.hitung_usia(2025)

print(f"Usia mobil1 pada tahun 2025: {usia_mobil1} tahun")
print(f"Usia mobil2 pada tahun 2025: {usia_mobil2} tahun")

mobil1.perbarui_harga(280000000, 2022)
mobil2.perbarui_harga(240000000, 2021)

Mobil Toyota berwarna Hitam, tahun 2015, harga: Rp 300000000
Mobil Honda berwarna Merah, tahun 2018, harga: Rp 250000000
Harga setelah diskon 10%: Rp 270000000.0
Harga setelah diskon 15%: Rp 212500000.0
Usia mobil1 pada tahun 2025: 10 tahun
Usia mobil2 pada tahun 2025: 7 tahun
Harga dan tahun mobil Toyota diperbarui menjadi Rp 280000000 dan tahun 2022
Harga dan tahun mobil Honda diperbarui menjadi Rp 240000000 dan tahun 2021

In [38]:
import parkir

def main():
    parkiran = parkir.Parkir(kapasitas=5)

    motor1 = parkir.Motor("TI 1A PLNS", "Aerox", "Merah")
    motor2 = parkir.Motor("TRK 2024 PBO", "Mio GT", "Hitam")
    motor3 = parkir.Motor("PLNS 2025 JY", "Supra Bapak", "Biru")

    print(parkiran.tambah_motor(motor1))
    print(parkiran.tambah_motor(motor2))
    print(parkiran.tambah_motor(motor3))

    print("\nDaftar kendaraan di parkiran:")
    print(parkiran.tampilkan_kendaraan())

    print("\nMotor keluar:")
    print(parkiran.keluar_motor("B5678CD"))

    print("\nDaftar kendaraan setelah motor keluar:")
    print(parkiran.tampilkan_kendaraan())

if __name__ == "__main__":
    main()

Motor TI 1A PLNS masuk parkiran.
Motor TRK 2024 PBO masuk parkiran.
Motor PLNS 2025 JY masuk parkiran.

Daftar kendaraan di parkiran:
Motor Aerox (Merah) - Plat: TI 1A PLNS
Motor Mio GT (Hitam) - Plat: TRK 2024 PBO
Motor Supra Bapak (Biru) - Plat: PLNS 2025 JY

Motor keluar:
Motor tidak ditemukan di parkiran.

Daftar kendaraan setelah motor keluar:
Motor Aerox (Merah) - Plat: TI 1A PLNS
Motor Mio GT (Hitam) - Plat: TRK 2024 PBO
Motor Supra Bapak (Biru) - Plat: PLNS 2025 JY